<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Steps" data-toc-modified-id="Steps-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Steps</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Scrap-pad" data-toc-modified-id="Scrap-pad-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Scrap pad</a></span></li><li><span><a href="#Aggregate-over-month-(not-working)" data-toc-modified-id="Aggregate-over-month-(not-working)-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Aggregate over month (not working)</a></span></li><li><span><a href="#Load-train-&amp;-test-csvs" data-toc-modified-id="Load-train-&amp;-test-csvs-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Load train &amp; test csvs</a></span></li><li><span><a href="#Function-to-add-extra-cols-on-train-&amp;-test-combined-agg-dfs" data-toc-modified-id="Function-to-add-extra-cols-on-train-&amp;-test-combined-agg-dfs-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>Function to add extra cols on train &amp; test combined agg dfs</a></span></li><li><span><a href="#Remove-outliers" data-toc-modified-id="Remove-outliers-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>Remove outliers</a></span></li><li><span><a href="#Target-encoding-for-outliers" data-toc-modified-id="Target-encoding-for-outliers-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>Target encoding for outliers</a></span></li></ul></li></ul></li></ul></div>

# Steps

1. Import dependencies
2. Import processed df of new transactions
3. Aggregate over card_id 
4. Aggregate over card_id & month_lag - for monthly aggregations of purchases, installments

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 4
%autosave 120

Autosaving every 120 seconds

In [2]:
from fastai.io import *
from fastai.structured import *
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from pandas_summary import DataFrameSummary
from IPython.display import display
from sklearn import metrics
import feather

In [13]:
def agg_cat(df):
    cat_agg = {
        'purchase_amount': ['sum', 'max', 'min', 'mean', 'std', 'var'],
        'installments':  ['sum', 'max', 'min', 'mean', 'std', 'var']
    }
    intermdiate_df = (df.groupby('card_id').size().reset_index(name='transactions_count'))
    for c in ['category_2', 'category_3']:
        temp_df1 = df.groupby(c).agg(cat_agg)
        temp_df1.columns = ['_'.join(i).strip() for i in temp_df1.columns.values]
        temp_df1.reset_index(inplace=True)
        pd.merge(intermdiate_df, temp_df1, on='card_id', how='left')
    return intermdiate_df

In [3]:
def add_extra_cols_on_agg(df):
    df['inverse_avg_transactions_per_day'] = df['purchase_date_ptp']/df['card_id_size']
    df['days_since_last_transaction'] = (datetime.datetime.today() - df['purchase_date_amax']).dt.days
    return df

In [15]:
for col in ['category_2','category_3']:
    new_temp[col + '_codes'] = new_temp[col].cat.codes
    new_temp[col+'_mean'] = new_temp.groupby([col + '_codes'])['purchase_amount'].transform('mean')

NameError: name 'new_temp' is not defined

In [4]:
def aggregate_by_card_id(df):
    unique_cols = ['city_id', 'merchant_category_id', 'merchant_id', 'state_id', 'purchase_Month', 
                   'subsector_id']
    aggs = {}
    for c in unique_cols:
        aggs[c] = ['nunique'] 
    aggs['authorized_flag'] = ['mean', 'sum']
    aggs['purchase_amount'] = ['sum', 'max', 'min', 'mean', 'std', 'var']
    aggs['installments'] = ['sum', 'max', 'min', 'mean', 'std', 'var']
    aggs['month_lag'] = ['sum', 'max', 'min', 'mean', 'std', 'var']
    aggs['purchase_date'] = [np.min, np.max , np.ptp]
    aggs['card_id'] = ['size']
    aggs['purchased_on_weekend'] = ['sum', 'mean']
    aggs['month_diff'] = ['mean']
    aggs['category_1'] = ['sum', 'mean']
   
 #     Not working due to a bug in pandas 0.23.4
#     cat_agg = {
#         'purchase_amount': ['sum', 'max', 'min', 'mean', 'std', 'var'],
#         'installments':  ['sum', 'max', 'min', 'mean', 'std', 'var']
#     }
#     # aggregate over cat_2, cat_3
#     intermdiate_df = pd.DataFrame
#     for c in ['category_2', 'category_3']:
#         temp_df = df.groupby(c).agg(cat_agg)
#         temp_df.columns = ['_'.join(i).strip() for i in temp_df.columns.values]
#         temp_df.reset_index(inplace=True)
#         pd.merge(intermdiate_df, temp_df, on='card_id', how='left')
        
    new_df = df.groupby(['card_id']).agg(aggs)
    new_df.columns = ['_'.join(col).strip() for col in new_df.columns.values]
    new_df.reset_index(inplace=True)
    other_df = (df.groupby('card_id')
          .size()
          .reset_index(name='transactions_count'))
    
    new_df = pd.merge(other_df, new_df, on='card_id', how='left')
    new_df["purchase_date_ptp"] = new_df["purchase_date_ptp"].dt.days    
    return new_df

In [5]:
def add_extra_cols(df):
    df['purchased_on_weekend'] = (df.purchase_Dayofweek >=5).astype(int)
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']
    return df

In [6]:
def mark_categorical_cols_for_transactions(df):
    categorical_cols = ['authorized_flag', 'card_id', 'city_id', 'category_1',
       'merchant_category_id', 'merchant_id',
       'state_id', 'subsector_id', 'purchase_Year', 'purchase_Month']
    for c in categorical_cols:
        df[c] = df[c].astype('category').cat.as_ordered()
    for col in ['authorized_flag', 'category_1']:
        df[col] = df[col].map({'Y':1, 'N':0})
    return df

In [20]:
new_merchant_transactions_df = feather.read_dataframe('new_merchant_transactions_df')

ValueError: Categorical categories must be unique

In [9]:
new_merchant_transactions_df = add_extra_cols(new_merchant_transactions_df)

In [10]:
new_merchant_transactions_df = mark_categorical_cols_for_transactions(new_merchant_transactions_df)

In [13]:
%time new_hist_agg = aggregate_by_card_id(new_merchant_transactions_df)

CPU times: user 50.2 s, sys: 978 ms, total: 51.2 s
Wall time: 36.6 s

In [14]:
new_merchant_transactions_df.to_feather('new_merchant_transactions_df')

In [35]:
new_hist_agg["purchase_date_ptp"] = new_hist_agg["purchase_date_ptp"].dt.days

In [15]:
new_hist_agg.to_feather('new_hist_agg')

In [17]:
new_hist_agg = feather.read_dataframe('new_hist_agg')

In [18]:
new_hist_agg = add_extra_cols_on_agg(new_hist_agg)

### Scrap pad

In [38]:
temp_df = new_merchant_transactions_df[20:30]

In [40]:
temp_df_agg = temp_df.groupby(['card_id','month_lag']).agg({"purchase_amount": ['min', 'max', 'mean', 'std']})

In [41]:
temp_df_agg.columns.values

array([('purchase_amount', 'min'), ('purchase_amount', 'max'), ('purchase_amount', 'mean'),
       ('purchase_amount', 'std')], dtype=object)

In [44]:
['_'.join(c).strip() for c in temp_df_agg.columns.values]

['purchase_amount_min',
 'purchase_amount_max',
 'purchase_amount_mean',
 'purchase_amount_std']

In [58]:
temp_df_agg

                          purchase_amount
                                      min       max      mean       std
card_id         month_lag
C_ID_241a01e9d9 2               -0.461705 -0.294760 -0.378232  0.118048
C_ID_a97720321f 1               -0.202377  0.755743  0.276683  0.677493
C_ID_ef55cf8d4b 1               -0.704834  3.009720  0.683685  1.753241
                2               -0.432253 -0.432253 -0.432253       NaN

In [59]:
temp_df_agg.columns = ['_'.join(c).strip() for c in temp_df_agg.columns.values]

In [61]:
temp_df_agg

                           purchase_amount_min  purchase_amount_max  \
card_id         month_lag
C_ID_241a01e9d9 2                    -0.461705            -0.294760
C_ID_a97720321f 1                    -0.202377             0.755743
C_ID_ef55cf8d4b 1                    -0.704834             3.009720
                2                    -0.432253            -0.432253

                           purchase_amount_mean  purchase_amount_std
card_id         month_lag
C_ID_241a01e9d9 2                     -0.378232             0.118048
C_ID_a97720321f 1                      0.276683             0.677493
C_ID_ef55cf8d4b 1                      0.683685             1.753241
                2                     -0.432253                  NaN

In [64]:
temp_df_agg.groupby('card_id').agg(['mean', 'std'])

                purchase_amount_min           purchase_amount_max            \
                               mean       std                mean       std
card_id
C_ID_241a01e9d9           -0.461705       NaN           -0.294760       NaN
C_ID_a97720321f           -0.202377       NaN            0.755743       NaN
C_ID_ef55cf8d4b           -0.568543  0.192744            1.288734  2.433842

                purchase_amount_mean           purchase_amount_std
                                mean       std                mean std
card_id
C_ID_241a01e9d9            -0.378232       NaN            0.118048 NaN
C_ID_a97720321f             0.276683       NaN            0.677493 NaN
C_ID_ef55cf8d4b             0.125716  0.789087            1.753241 NaN

### Aggregate over month (not working)

In [70]:
def aggregate_over_month(df):
    grouped = df.groupby(['card_id','month_lag'])
    agg_func = {
        'purchase_amount': ['count', 'sum', 'mean', 'min', 'max', 'std'],
        'installments': ['count', 'sum', 'mean', 'min', 'max', 'std'],
        }
    temp_group = grouped.agg(agg_func)
    temp_group.columns = ['_'.join(c).strip() for c in temp_group.columns.values]
    temp_group.reset_index(inplace=True)
    final_group = temp_group.groupby('card_id').agg(['mean', 'std'])
    final_group.columns = ["_".join(c).strip() for c in final_group.columns.values]
    final_group.reset_index(inplace=True)
    return final_group

In [71]:
x = aggregate_over_month(temp_df)

In [73]:
def aggregate_per_month(history):
    grouped = history.groupby(['card_id', 'month_lag'])

    agg_func = {
            'purchase_amount': ['count', 'sum', 'mean', 'min', 'max', 'std'],
            'installments': ['count', 'sum', 'mean', 'min', 'max', 'std'],
            }

    intermediate_group = grouped.agg(agg_func)
    intermediate_group.columns = ['_'.join(col).strip() for col in intermediate_group.columns.values]
    intermediate_group.reset_index(inplace=True)

    final_group = intermediate_group.groupby('card_id').agg(['mean', 'std'])
    final_group.columns = ['_'.join(col).strip() for col in final_group.columns.values]
    final_group.reset_index(inplace=True)
    
    return final_group

In [74]:
x = aggregate_per_month(temp_df)

In [75]:
x

,card_id,month_lag_mean,month_lag_std,purchase_amount_count_mean,purchase_amount_count_std,purchase_amount_sum_mean,purchase_amount_sum_std,purchase_amount_mean_mean,purchase_amount_mean_std,purchase_amount_min_mean,...,installments_sum_mean,installments_sum_std,installments_mean_mean,installments_mean_std,installments_min_mean,installments_min_std,installments_max_mean,installments_max_std,installments_std_mean,installments_std_std
0,C_ID_00007093c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C_ID_0001238066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C_ID_0001506ef0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C_ID_0001793786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C_ID_000183fdda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,C_ID_0002709b5a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C_ID_000298032a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,C_ID_0002ba3c2e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,C_ID_0002c7c2c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,C_ID_00032df08f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,C_ID_0003754056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,C_ID_000377f6a0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,C_ID_0003be3c83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,C_ID_0003f41435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,C_ID_00042d509c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,C_ID_0004587331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,C_ID_0004725b87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,C_ID_0004888ddd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,C_ID_0004b68c49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,C_ID_0004c2a5ab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,C_ID_00057b99fe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,C_ID_000599daf9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,C_ID_0005f16cc8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,C_ID_0006152db8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,C_ID_000616f4a8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,C_ID_000664aa02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,C_ID_00079fec55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,C_ID_0007a60a33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,C_ID_0007fe3157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,C_ID_000844d8f1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289971,C_ID_fffaed41f0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289972,C_ID_fffb79fb56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289973,C_ID_fffba72dc5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289974,C_ID_fffbdf036b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289975,C_ID_fffbee5c24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289976,C_ID_fffc96bf24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289977,C_ID_fffcb74f49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289978,C_ID_fffcf66e12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289979,C_ID_fffd070e0e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289980,C_ID_fffd1207a8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289981,C_ID_fffd24dcf3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289982,C_ID_fffd337484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289983,C_ID_fffd345048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289984,C_ID_fffd351e7f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289985,C_ID_fffd93c8bf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289986,C_ID_fffd943b91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289987,C_ID_fffdad8aa0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289988,C_ID_fffde15ab6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289989,C_ID_fffdf34798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289990,C_ID_fffe29a04a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289991,C_ID_fffe78b232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289992,C_ID_fffe866457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289993,C_ID_fffea6de74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289994,C_ID_fffeced303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289995,C_ID_fffeed3a89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289996,C_ID_ffff1d9928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289997,C_ID_ffff579d3a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289998,C_ID_ffff756266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289999,C_ID_ffff828181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290000,C_ID_fffffd5772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
def successive_aggregates(df, field1, field2):
    t = df.groupby(['card_id', field1])[field2].mean()
    u = pd.DataFrame(t).reset_index().groupby('card_id')[field2].agg(['mean', 'min', 'max', 'std'])
    u.columns = [field1 + '_' + field2 + '_' + col for col in u.columns.values]
    u.reset_index(inplace=True)
    return u

In [87]:
y = successive_aggregates(temp_df, 'month_lag', 'purchase_amount')

In [88]:
y

,card_id,month_lag_purchase_amount_mean,month_lag_purchase_amount_min,month_lag_purchase_amount_max,month_lag_purchase_amount_std
0,C_ID_00007093c1,NaN,NaN,NaN,NaN
1,C_ID_0001238066,NaN,NaN,NaN,NaN
2,C_ID_0001506ef0,NaN,NaN,NaN,NaN
3,C_ID_0001793786,NaN,NaN,NaN,NaN
4,C_ID_000183fdda,NaN,NaN,NaN,NaN
5,C_ID_0002709b5a,NaN,NaN,NaN,NaN
6,C_ID_000298032a,NaN,NaN,NaN,NaN
7,C_ID_0002ba3c2e,NaN,NaN,NaN,NaN
8,C_ID_0002c7c2c1,NaN,NaN,NaN,NaN
9,C_ID_00032df08f,NaN,NaN,NaN,NaN
10,C_ID_0003754056,NaN,NaN,NaN,NaN
11,C_ID_000377f6a0,NaN,NaN,NaN,NaN
12,C_ID_0003be3c83,NaN,NaN,NaN,NaN
13,C_ID_0003f41435,NaN,NaN,NaN,NaN
14,C_ID_00042d509c,NaN,NaN,NaN,NaN
15,C_ID_0004587331,NaN,NaN,NaN,NaN
16,C_ID_0004725b87,NaN,NaN,NaN,NaN
17,C_ID_0004888ddd,NaN,NaN,NaN,NaN
18,C_ID_0004b68c49,NaN,NaN,NaN,NaN
19,C_ID_0004c2a5ab,NaN,NaN,NaN,NaN
20,C_ID_00057b99fe,NaN,NaN,NaN,NaN
21,C_ID_000599daf9,NaN,NaN,NaN,NaN
22,C_ID_0005f16cc8,NaN,NaN,NaN,NaN
23,C_ID_0006152db8,NaN,NaN,NaN,NaN
24,C_ID_000616f4a8,NaN,NaN,NaN,NaN
25,C_ID_000664aa02,NaN,NaN,NaN,NaN
26,C_ID_00079fec55,NaN,NaN,NaN,NaN
27,C_ID_0007a60a33,NaN,NaN,NaN,NaN
28,C_ID_0007fe3157,NaN,NaN,NaN,NaN
29,C_ID_000844d8f1,NaN,NaN,NaN,NaN
...,...,...,...,...,...
289971,C_ID_fffaed41f0,NaN,NaN,NaN,NaN
289972,C_ID_fffb79fb56,NaN,NaN,NaN,NaN
289973,C_ID_fffba72dc5,NaN,NaN,NaN,NaN
289974,C_ID_fffbdf036b,NaN,NaN,NaN,NaN
289975,C_ID_fffbee5c24,NaN,NaN,NaN,NaN
289976,C_ID_fffc96bf24,NaN,NaN,NaN,NaN
289977,C_ID_fffcb74f49,NaN,NaN,NaN,NaN
289978,C_ID_fffcf66e12,NaN,NaN,NaN,NaN
289979,C_ID_fffd070e0e,NaN,NaN,NaN,NaN
289980,C_ID_fffd1207a8,NaN,NaN,NaN,NaN
289981,C_ID_fffd24dcf3,NaN,NaN,NaN,NaN
289982,C_ID_fffd337484,NaN,NaN,NaN,NaN
289983,C_ID_fffd345048,NaN,NaN,NaN,NaN
289984,C_ID_fffd351e7f,NaN,NaN,NaN,NaN
289985,C_ID_fffd93c8bf,NaN,NaN,NaN,NaN
289986,C_ID_fffd943b91,NaN,NaN,NaN,NaN
289987,C_ID_fffdad8aa0,NaN,NaN,NaN,NaN
289988,C_ID_fffde15ab6,NaN,NaN,NaN,NaN
289989,C_ID_fffdf34798,NaN,NaN,NaN,NaN
289990,C_ID_fffe29a04a,NaN,NaN,NaN,NaN
289991,C_ID_fffe78b232,NaN,NaN,NaN,NaN
289992,C_ID_fffe866457,NaN,NaN,NaN,NaN
289993,C_ID_fffea6de74,NaN,NaN,NaN,NaN
289994,C_ID_fffeced303,NaN,NaN,NaN,NaN
289995,C_ID_fffeed3a89,NaN,NaN,NaN,NaN
289996,C_ID_ffff1d9928,NaN,NaN,NaN,NaN
289997,C_ID_ffff579d3a,NaN,NaN,NaN,NaN
289998,C_ID_ffff756266,NaN,NaN,NaN,NaN
289999,C_ID_ffff828181,NaN,NaN,NaN,NaN
290000,C_ID_fffffd5772,NaN,NaN,NaN,NaN

In [82]:
temp_df.reset_index(inplace=True)

In [85]:
temp_df.drop('index', axis=1, inplace=True)

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [86]:
temp_df

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,purchase_Dayofyear,purchase_Is_month_end,purchase_Is_month_start,purchase_Is_quarter_end,purchase_Is_quarter_start,purchase_Is_year_end,purchase_Is_year_start,purchase_Elapsed,purchased_on_weekend,month_diff
0,1,C_ID_ef55cf8d4b,231,0,1,B,278,M_ID_2ae6547567,1,-0.654885,...,79,False,False,False,False,False,False,1521542253,0,10
1,1,C_ID_ef55cf8d4b,-1,1,3,C,491,M_ID_79692349d6,1,3.009720,...,89,False,False,False,False,False,False,1522440354,0,10
2,1,C_ID_ef55cf8d4b,231,0,1,B,360,M_ID_532b2abc39,2,-0.432253,...,96,False,False,False,False,False,False,1523021302,0,11
3,1,C_ID_ef55cf8d4b,69,0,2,C,87,M_ID_99c89d936e,1,-0.357721,...,83,False,False,False,False,False,False,1521903510,1,10
4,1,C_ID_ef55cf8d4b,-1,1,12,C,690,M_ID_3111c6df35,1,2.126146,...,62,False,False,False,False,False,False,1520077258,1,11
5,1,C_ID_ef55cf8d4b,69,0,1,B,195,M_ID_7fc4685211,1,-0.704834,...,76,False,False,False,False,False,False,1521289951,1,10
6,1,C_ID_241a01e9d9,69,0,3,C,884,M_ID_7c26306ee3,2,-0.461705,...,112,False,False,False,False,False,False,1524424748,1,10
7,1,C_ID_241a01e9d9,188,0,6,C,690,M_ID_7c7d14fd19,2,-0.294760,...,112,False,False,False,False,False,False,1524425651,1,10
8,1,C_ID_a97720321f,69,0,0,A,419,M_ID_7064a8aa68,1,-0.202377,...,61,False,False,False,False,False,False,1519992383,0,11
9,1,C_ID_a97720321f,69,0,0,A,705,M_ID_1f4773aa76,1,0.755743,...,62,False,False,False,False,False,False,1520079298,1,11

### Load train & test csvs

In [9]:
PATH = 'data/elo/'

In [43]:
train, test = [pd.read_csv(f'{PATH}{c}') for c in ['train.csv', 'test.csv']]

In [44]:
train.head().T

,0,1,2,3,4
first_active_month,2017-06,2017-01,2016-08,2017-09,2017-11
card_id,C_ID_92a2005557,C_ID_3d0044924f,C_ID_d639edf6cd,C_ID_186d6a6901,C_ID_cdbd2c0db2
feature_1,5,4,2,4,1
feature_2,2,1,2,3,3
feature_3,1,0,0,0,0
target,-0.820283,0.392913,0.688056,0.142495,-0.159749

In [45]:
add_datepart(train, 'first_active_month', drop=False)

In [46]:
train.head().T

,0,1,2,3,4
first_active_month,2017-06-01 00:00:00,2017-01-01 00:00:00,2016-08-01 00:00:00,2017-09-01 00:00:00,2017-11-01 00:00:00
card_id,C_ID_92a2005557,C_ID_3d0044924f,C_ID_d639edf6cd,C_ID_186d6a6901,C_ID_cdbd2c0db2
feature_1,5,4,2,4,1
feature_2,2,1,2,3,3
feature_3,1,0,0,0,0
target,-0.820283,0.392913,0.688056,0.142495,-0.159749
first_active_monthYear,2017,2017,2016,2017,2017
first_active_monthMonth,6,1,8,9,11
first_active_monthWeek,22,52,31,35,44
first_active_monthDay,1,1,1,1,1
first_active_monthDayofweek,3,6,0,4,2
first_active_monthDayofyear,152,1,214,244,305
first_active_monthIs_month_end,False,False,False,False,False
first_active_monthIs_month_start,True,True,True,True,True
first_active_monthIs_quarter_end,False,False,False,False,False
first_active_monthIs_quarter_start,False,True,False,False,False
first_active_monthIs_year_end,False,False,False,False,False
first_active_monthIs_year_start,False,True,False,False,False
first_active_monthElapsed,1496275200,1483228800,1470009600,1504224000,1509494400

In [47]:
add_datepart(test, 'first_active_month', drop=False)

In [10]:
hist_trans = pd.read_csv(f'{PATH}historical_transactions.csv')

In [7]:
def fill_nas_for_transactions_df(df):
    # Fill nas for category_3 with mode
    cols = ['merchant_id', 'category_3', 'category_2']
    for col in cols:
        df[col] = df[col].fillna(df[col].mode()[0])
    return df

In [11]:
hist_trans = fill_nas_for_transactions_df(hist_trans[:20])

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [12]:
hist_trans.head().T

,0,1,2,3,4
authorized_flag,Y,Y,Y,Y,Y
card_id,C_ID_4e6213e9bc,C_ID_4e6213e9bc,C_ID_4e6213e9bc,C_ID_4e6213e9bc,C_ID_4e6213e9bc
city_id,88,88,88,88,88
category_1,N,N,N,N,N
installments,0,0,0,0,0
category_3,A,A,A,A,A
merchant_category_id,80,367,80,560,80
merchant_id,M_ID_e020e9b302,M_ID_86ec983688,M_ID_979ed661fc,M_ID_e6d5ae8ea6,M_ID_e020e9b302
month_lag,-8,-7,-6,-5,-11
purchase_amount,-0.703331,-0.733128,-0.720386,-0.735352,-0.722865
purchase_date,2017-06-25 15:33:07,2017-07-15 12:10:45,2017-08-09 22:04:29,2017-09-02 10:06:26,2017-03-10 01:14:19
category_2,1,1,1,1,1
state_id,16,16,16,16,16
subsector_id,37,16,37,34,37

In [13]:
add_datepart(hist_trans, 'purchase_date', drop=False)

In [14]:
hist_trans.shape

(20, 27)

In [54]:
new_merchant_transactions_df.shape

(1963031, 29)

In [15]:
hist_trans = add_extra_cols(hist_trans)

In [16]:
hist_trans.shape

(20, 29)

In [17]:
hist_trans = mark_categorical_cols_for_transactions(hist_trans)

In [58]:
hist_trans.to_feather('hist_trans')

In [59]:
hist_trans = feather.read_dataframe('hist_trans')

In [18]:
%time hist_trans_agg = aggregate_by_card_id(hist_trans)

CPU times: user 24.2 ms, sys: 4.01 ms, total: 28.2 ms
Wall time: 27.7 ms

In [19]:
hist_trans.dtypes

authorized_flag                       int64
card_id                            category
city_id                            category
category_1                            int64
installments                          int64
category_3                           object
merchant_category_id               category
merchant_id                        category
month_lag                             int64
purchase_amount                     float64
purchase_date                datetime64[ns]
category_2                          float64
state_id                           category
subsector_id                       category
purchase_Year                      category
purchase_Month                     category
purchase_Week                         int64
purchase_Day                          int64
purchase_Dayofweek                    int64
purchase_Dayofyear                    int64
purchase_Is_month_end                  bool
purchase_Is_month_start                bool
purchase_Is_quarter_end                bool
purchase_Is_quarter_start              bool
purchase_Is_year_end                   bool
purchase_Is_year_start                 bool
purchase_Elapsed                      int64
purchased_on_weekend                  int64
month_diff                            int64
dtype: object

In [61]:
hist_trans_agg.shape

(325540, 37)

In [62]:
new_hist_agg.shape

(290001, 39)

In [63]:
hist_trans_agg = add_extra_cols_on_agg(hist_trans_agg)

In [64]:
hist_trans_agg.shape

(325540, 39)

In [65]:
hist_trans_agg.to_feather('hist_trans_agg')

In [66]:
train_df = pd.merge(train, new_hist_agg, how='left', on='card_id')

In [67]:
DataFrameSummary(train_df).summary().T

,count,mean,std,min,25%,50%,75%,max,counts,uniques,missing,missing_perc,types
first_active_month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,75,0,0%,date
card_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,201917,0,0%,unique
feature_1,201917,3.10531,1.18616,1,2,3,4,5,201917,5,0,0%,numeric
feature_2,201917,1.74541,0.751362,1,1,2,2,3,201917,3,0,0%,numeric
feature_3,201917,0.565569,0.495683,0,0,1,1,1,201917,2,0,0%,bool
target,201917,-0.393636,3.8505,-33.2193,-0.88311,-0.0234369,0.765453,17.9651,201917,197110,0,0%,numeric
first_active_monthYear,201917,2016.51,0.788199,2011,2016,2017,2017,2018,201917,8,0,0%,numeric
first_active_monthMonth,201917,7.37874,3.34072,1,5,8,10,12,201917,12,0,0%,numeric
first_active_monthWeek,201917,30.9446,13.8454,1,22,31,44,53,201917,21,0,0%,numeric
first_active_monthDay,201917,1,0,1,1,1,1,1,201917,1,0,0%,constant
first_active_monthDayofweek,201917,3.17948,1.89371,0,2,3,5,6,201917,7,0,0%,numeric
first_active_monthDayofyear,201917,194.482,101.796,1,121,213,275,336,201917,22,0,0%,numeric
first_active_monthIs_month_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_month_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_quarter_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_quarter_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,2,0,0%,bool
first_active_monthIs_year_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_year_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,2,0,0%,bool
first_active_monthElapsed,201917,1.48444e+09,2.53766e+07,1.32011e+09,1.47528e+09,1.491e+09,1.50422e+09,1.51744e+09,201917,75,0,0%,numeric
transactions_count,179986,6.77655,6.69458,1,2,5,9,109,179986,87,21931,10.86%,numeric
city_id_nunique,179986,2.30943,1.67011,1,1,2,3,28,179986,26,21931,10.86%,numeric
merchant_category_id_nunique,179986,5.33923,4.25534,1,2,4,7,40,179986,39,21931,10.86%,numeric
merchant_id_nunique,179986,6.68335,6.65009,0,2,5,9,109,179986,87,21931,10.86%,numeric
state_id_nunique,179986,1.58205,0.873557,1,1,1,2,14,179986,13,21931,10.86%,numeric
purchase_Month_nunique,179986,1.65671,0.47481,1,1,2,2,2,179986,2,21931,10.86%,bool
subsector_id_nunique,179986,4.45392,3.05844,1,2,4,6,24,179986,24,21931,10.86%,numeric
authorized_flag_mean,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,201917,100%,numeric
authorized_flag_sum,179986,0,0,0,0,0,0,0,179986,1,21931,10.86%,constant
purchase_amount_sum,179986,-3.74189,4.39531,-70.8135,-5.25733,-2.68625,-1.21177,109.086,179986,149495,21931,10.86%,numeric
purchase_amount_max,179986,-0.131691,1.53213,-0.746893,-0.647883,-0.51302,-0.181911,76.6829,179986,43853,21931,10.86%,numeric
purchase_amount_min,179986,-0.660582,0.433409,-0.746893,-0.735638,-0.723466,-0.692076,44.1824,179986,15978,21931,10.86%,numeric
purchase_amount_mean,179986,-0.524392,0.554886,-0.746893,-0.692782,-0.641737,-0.531653,44.1824,179986,146245,21931,10.86%,numeric
purchase_amount_std,153199,0.231553,0.592297,0,0.039286,0.0890018,0.212109,47.3277,153199,145877,48718,24.13%,numeric
purchase_amount_var,153199,0.40443,9.48997,0,0.00154339,0.00792133,0.04499,2239.92,153199,146001,48718,24.13%,numeric
installments_sum,179986,4.62656,8.19539,-6,0,1,7,1004,179986,107,21931,10.86%,numeric
installments_max,179986,1.47975,3.35991,-1,0,1,2,999,179986,15,21931,10.86%,numeric
installments_min,179986,0.328637,1.03692,-1,0,0,1,12,179986,14,21931,10.86%,numeric
installments_mean,179986,0.744392,1.13814,-1,0,0.333333,1,34.6207,179986,1104,21931,10.86%,numeric
installments_std,153199,0.519733,1.09463,0,0,0,0.755929,185.477,153199,7102,48718,24.13%,numeric
installments_var,153199,1.46832,87.9967,0,0,0,0.571429,34401.7,153199,8167,48718,24.13%,numeric
month_lag_sum,179986,10.0025,10.0975,1,3,7,13,185,179986,126,21931,10.86%,numeric
month_lag_max,179986,1.81539,0.387985,1,2,2,2,2,179986,2,21931,10.86%,bool
month_lag_min,179986,1.15868,0.365378,1,1,1,1,2,179986,2,21931,10.86%,bool
month_lag_mean,179986,1.47622,0.3308,1,1.23077,1.5,1.71429,2,179986,690,21931,10.86%,numeric
month_lag_std,153199,0.396778,0.227721,0,0.351091,0.5,0.534522,0.707107,153199,1473,48718,24.13%,numeric
month_lag_var,153199,0.209289,0.137089,0,0.123265,0.25,0.285714,0.5,153199,1946,48718,24.13%,numeric
purchase_date_amin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179986,172918,21931,10.86%,date
purchase_date_amax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179986,173711,21931,10.86%,date
purchase_date_ptp,179986,29.0291,20.0683,0,8,32,47,61,179986,62,21931,10.86%,numeric
card_id_size,179986,6.77655,6.69458,1,2,5,9,109,179986,87,21931,10.86%,numeric
purchased_on_weekend_sum,179986,2.0832,2.72596,0,0,1,3,45,179986,39,21931,10.86%,numeric
purchased_on_weekend_mean,179986,0.292901,0.287023,0,0,0.25,0.5,1,179986,579,21931,10.86%,numeric
month_diff_mean,179986,11.668,2.41644,10,10.4,10.7143,11.6,23,179986,2790,21931,10.86%,numeric
category_1_sum,179986,0,0,0,0,0,0,0,179986,1,21931,10.86%,constant
category_1_mean,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,201917,100%,numeric
inverse_avg_transactions_per_day,179986,5.01168,4.55844,0,1.70588,4.14286,7.125,30,179986,1292,21931,10.86%,numeric
days_since_last_transaction,179986,305.242,73.4597,255,261,276,310,678,179986,406,21931,10.86%,numeric

In [68]:
def join_dfs(left, right, left_on, right_on=None, suffix='_old'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, suffixes=("", suffix))

In [69]:
train_df2 = join_dfs(train_df, hist_trans_agg, left_on='card_id')

In [174]:
DataFrameSummary(train_df2).summary().T

,count,mean,std,min,25%,50%,75%,max,counts,uniques,missing,missing_perc,types
first_active_month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,75,0,0%,date
card_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,201917,0,0%,unique
feature_1,201917,3.10531,1.18616,1,2,3,4,5,201917,5,0,0%,numeric
feature_2,201917,1.74541,0.751362,1,1,2,2,3,201917,3,0,0%,numeric
feature_3,201917,0.565569,0.495683,0,0,1,1,1,201917,2,0,0%,bool
target,201917,-0.393636,3.8505,-33.2193,-0.88311,-0.0234369,0.765453,17.9651,201917,197110,0,0%,numeric
first_active_monthYear,201917,2016.51,0.788199,2011,2016,2017,2017,2018,201917,8,0,0%,numeric
first_active_monthMonth,201917,7.37874,3.34072,1,5,8,10,12,201917,12,0,0%,numeric
first_active_monthWeek,201917,30.9446,13.8454,1,22,31,44,53,201917,21,0,0%,numeric
first_active_monthDay,201917,1,0,1,1,1,1,1,201917,1,0,0%,constant
first_active_monthDayofweek,201917,3.17948,1.89371,0,2,3,5,6,201917,7,0,0%,numeric
first_active_monthDayofyear,201917,194.482,101.796,1,121,213,275,336,201917,22,0,0%,numeric
first_active_monthIs_month_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_month_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_quarter_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_quarter_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,2,0,0%,bool
first_active_monthIs_year_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,1,0,0%,constant
first_active_monthIs_year_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,2,0,0%,bool
first_active_monthElapsed,201917,1.48444e+09,2.53766e+07,1.32011e+09,1.47528e+09,1.491e+09,1.50422e+09,1.51744e+09,201917,75,0,0%,numeric
transactions_count,179986,6.77655,6.69458,1,2,5,9,109,179986,87,21931,10.86%,numeric
city_id_nunique,179986,2.30943,1.67011,1,1,2,3,28,179986,26,21931,10.86%,numeric
merchant_category_id_nunique,179986,5.33923,4.25534,1,2,4,7,40,179986,39,21931,10.86%,numeric
merchant_id_nunique,179986,6.68335,6.65009,0,2,5,9,109,179986,87,21931,10.86%,numeric
state_id_nunique,179986,1.58205,0.873557,1,1,1,2,14,179986,13,21931,10.86%,numeric
purchase_Month_nunique,179986,1.65671,0.47481,1,1,2,2,2,179986,2,21931,10.86%,bool
subsector_id_nunique,179986,4.45392,3.05844,1,2,4,6,24,179986,24,21931,10.86%,numeric
authorized_flag_mean,179986,1,0,1,1,1,1,1,179986,1,21931,10.86%,constant
authorized_flag_sum,179986,6.77655,6.69458,1,2,5,9,109,179986,87,21931,10.86%,numeric
purchase_amount_sum,179986,-3.74189,4.39531,-70.8135,-5.25733,-2.68625,-1.21177,109.086,179986,149495,21931,10.86%,numeric
purchase_amount_max,179986,-0.131691,1.53213,-0.746893,-0.647883,-0.51302,-0.181911,76.6829,179986,43853,21931,10.86%,numeric
...,...,...,...,...,...,...,...,...,...,...,...,...,...
subsector_id_nunique_old,201917,11.4608,5.18197,1,8,11,15,34,201917,34,0,0%,numeric
authorized_flag_mean_old,201917,0.893353,0.114446,0.0304878,0.852941,0.926829,0.972516,1,201917,11356,0,0%,numeric
authorized_flag_sum_old,201917,81.559,99.2434,2,23,48,100,2537,201917,973,0,0%,numeric
purchase_amount_sum_old,201917,14.4257,13449.2,-2088.01,-65.8473,-30.3869,-12.4694,6.0106e+06,201917,201614,0,0%,numeric
purchase_amount_max_old,201917,66.6717,13448.5,-0.745315,-0.347203,0.123548,1.27716,6.0106e+06,201917,74899,0,0%,numeric
purchase_amount_min_old,201917,-0.729993,0.0918995,-0.746908,-0.743902,-0.740296,-0.731881,28.5548,201917,7432,0,0%,numeric
purchase_amount_mean_old,201917,2.45943,1115.17,-0.745371,-0.679118,-0.621435,-0.501713,500883,201917,201640,0,0%,numeric
purchase_amount_std_old,201917,12.6537,3865.24,0,0.0766826,0.160484,0.361742,1.73511e+06,201917,201633,0,0%,numeric
purchase_amount_var_old,201917,1.49402e+07,6.69991e+09,0,0.00588022,0.0257552,0.130857,3.01061e+12,201917,201640,0,0%,numeric
installments_sum_old,201917,57.854,100.709,-9,0,15,77,2413,201917,1039,0,0%,numeric
installments_max_old,201917,4.25316,22.9412,0,0,2,6,999,201917,14,0,0%,numeric
installments_min_old,201917,0.0559933,0.723225,-1,0,0,1,10,201917,10,0,0%,numeric
installments_mean_old,201917,0.863678,1.13581,-0.692308,0,1,1.34426,79.3077,201917,21136,0,0%,numeric
installments_std_old,201917,0.79586,3.05789,0,0,0.288104,1.15283,276.342,201917,87084,0,0%,numeric
installments_var_old,201917,9.98405,507.6,0,0,0.083004,1.32901,76364.9,201917,93906,0,0%,numeric
month_lag_sum_old,201917,-400.169,610.571,-14172,-471,-179,-66,-1,201917,4267,0,0%,numeric
month_lag_max_old,201917,-0.166058,0.636972,-11,0,0,0,0,201917,12,0,0%,numeric
month_lag_min_old,201917,-7.87778,3.84331,-13,-12,-8,-4,-1,201917,13,0,0%,numeric
month_lag_mean_old,201917,-3.84099,2.12349,-12.4524,-5.52062,-3.57143,-2.03497,-0.0149254,201917,54905,0,0%,numeric
month_lag_std_old,201917,2.40891,1.17382,0.122169,1.37663,2.2734,3.44656,7,201917,160944,0,0%,numeric
month_lag_var_old,201917,7.1807,6.13092,0.0149254,1.89511,5.16835,11.8788,49,201917,167801,0,0%,numeric
purchase_date_amin_old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,193984,0,0%,date
purchase_date_amax_old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201917,186997,0,0%,date
purchase_date_ptp_old,201917,243.678,118.292,1,138,233,361,423,201917,422,0,0%,numeric
card_id_size_old,201917,89.2942,104.606,2,26,55,111,2912,201917,1023,0,0%,numeric
purchased_on_weekend_sum_old,201917,24.9963,31.7337,0,6,14,31,659,201917,379,0,0%,numeric
purchased_on_weekend_mean_old,201917,0.276675,0.138688,0,0.186047,0.269663,0.356522,1,201917,15633,0,0%,numeric
month_diff_mean_old,201917,11.6532,2.39774,10,10.4444,10.5714,11.55,23,201917,33406,0,0%,numeric
inverse_avg_transactions_per_day_old,201917,6.07849,6.93816,0.0869565,2,3.76147,7.36,135.667,201917,45200,0,0%,numeric
days_since_last_transaction_old,201917,360.615,74.7399,314,316,325,373,707,201917,392,0,0%,numeric

In [70]:
def display_all(df):
    with pd.option_context("display.max_rows", 100, "display.max_columns", 100): 
        display(df)

In [179]:
display_all(train_df2.head(1).T)

                                                        0
first_active_month                    2017-06-01 00:00:00
card_id                                   C_ID_92a2005557
feature_1                                               5
feature_2                                               2
feature_3                                               1
target                                          -0.820283
first_active_monthYear                               2017
first_active_monthMonth                                 6
first_active_monthWeek                                 22
first_active_monthDay                                   1
first_active_monthDayofweek                             3
first_active_monthDayofyear                           152
first_active_monthIs_month_end                      False
first_active_monthIs_month_start                     True
first_active_monthIs_quarter_end                    False
first_active_monthIs_quarter_start                  False
first_active_monthIs_year_end                       False
first_active_monthIs_year_start                     False
first_active_monthElapsed                      1496275200
transactions_count                                     23
city_id_nunique                                         3
merchant_category_id_nunique                           14
merchant_id_nunique                                    23
state_id_nunique                                        1
purchase_Month_nunique                                  2
subsector_id_nunique                                   10
authorized_flag_mean                                    1
authorized_flag_sum                                    23
purchase_amount_sum                              -13.2442
purchase_amount_max                             -0.296112
purchase_amount_min                             -0.724368
purchase_amount_mean                            -0.575835
purchase_amount_std                              0.135812
purchase_amount_var                             0.0184448
installments_sum                                        0
installments_max                                        0
installments_min                                        0
installments_mean                                       0
installments_std                                        0
installments_var                                        0
month_lag_sum                                          34
month_lag_max                                           2
month_lag_min                                           1
month_lag_mean                                    1.47826
month_lag_std                                    0.510754
month_lag_var                                     0.26087
purchase_date_amin                    2018-03-05 14:04:36
purchase_date_amax                    2018-04-29 11:23:05
purchase_date_ptp                                      54
card_id_size                                           23
purchased_on_weekend_sum                                6
purchased_on_weekend_mean                         0.26087
month_diff_mean                                   10.5217
inverse_avg_transactions_per_day                  2.34783
days_since_last_transaction                           255
transactions_count_old                                260
city_id_nunique_old                                     7
merchant_category_id_nunique_old                       41
merchant_id_nunique_old                                94
state_id_nunique_old                                    3
purchase_Month_nunique_old                              9
subsector_id_nunique_old                               21
authorized_flag_mean_old                             0.95
authorized_flag_sum_old                               247
purchase_amount_sum_old                          -165.969
purchase_amount_max_old                           2.25839
purchase_amount_min_old                         -0.739395
purchase_amount_mean_old                        -0.638341
purchase_amount_std_old                          0.212139
purchase_amount_var_old                         0.0450031
installments_sum_old                                    4
installments_max_old                                    1
installments_min_old                                    0
installments_mean_old                           0.0153846
installments_std_old                             0.123314
installments_var_old                            0.0152064
month_lag_sum_old                                   -1017
month_lag_max_old                                       0
month_lag_min_old                                      -8
month_lag_mean_old                               -3.91154
month_lag_std_old                                 2.39769
month_lag_var_old                                  5.7489
purchase_date_amin_old                2017-06-27 14:18:08
purchase_date_amax_old                2018-02-25 09:31:15
purchase_date_ptp_old                                 242
card_id_size_old                                      260
purchased_on_weekend_sum_old                           90
purchased_on_weekend_mean_old                    0.346154
month_diff_mean_old                               10.5423
inverse_avg_transactions_per_day_old             0.930769
days_since_last_transaction_old                       318

### Function to add extra cols on train & test combined agg dfs

1. Add total installments, purchase_amount, transactions count for the card on all transactions so far
2. Age of the card 
3. difference b/w the card issue and first transaction
4. Difference b/w card issue and last transaction - card active for how many days

In [71]:
test_df = pd.merge(test, new_hist_agg, how='left', on='card_id')

In [72]:
test_df2 = join_dfs(test_df, hist_trans_agg, left_on='card_id')

In [73]:
test_df2.shape

(123623, 94)

In [74]:
train_df2.shape

(201917, 95)

In [183]:
DataFrameSummary(test_df2).summary().T

,count,mean,std,min,25%,50%,75%,max,counts,uniques,missing,missing_perc,types
first_active_month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123622,75,1,0.00%,date
card_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,123623,0,0%,unique
feature_1,123623,3.10926,1.18911,1,2,3,4,5,123623,5,0,0%,numeric
feature_2,123623,1.7418,0.749195,1,1,2,2,3,123623,3,0,0%,numeric
feature_3,123623,0.564377,0.49584,0,0,1,1,1,123623,2,0,0%,bool
first_active_monthYear,123622,2016.51,0.785047,2011,2016,2017,2017,2018,123622,8,1,0.00%,numeric
first_active_monthMonth,123622,7.38177,3.3375,1,5,8,10,12,123622,12,1,0.00%,numeric
first_active_monthWeek,123622,30.9737,13.8209,1,22,31,44,53,123622,21,1,0.00%,numeric
first_active_monthDay,123622,1,0,1,1,1,1,1,123622,1,1,0.00%,constant
first_active_monthDayofweek,123622,3.18874,1.8966,0,2,3,5,6,123622,7,1,0.00%,numeric
first_active_monthDayofyear,123622,194.574,101.7,1,121,213,274,336,123622,22,1,0.00%,numeric
first_active_monthIs_month_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,1,0,0%,constant
first_active_monthIs_month_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,2,0,0%,bool
first_active_monthIs_quarter_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,1,0,0%,constant
first_active_monthIs_quarter_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,2,0,0%,bool
first_active_monthIs_year_end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,1,0,0%,constant
first_active_monthIs_year_start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,2,0,0%,bool
first_active_monthElapsed,123623,1.48443e+09,3.95779e+07,-9.22337e+09,1.47528e+09,1.491e+09,1.50422e+09,1.51476e+09,123623,76,0,0%,numeric
transactions_count,110015,6.75677,6.65022,1,2,5,9,104,110015,80,13608,11.01%,numeric
city_id_nunique,110015,2.30822,1.65098,1,1,2,3,32,110015,24,13608,11.01%,numeric
merchant_category_id_nunique,110015,5.33326,4.25539,1,2,4,7,46,110015,39,13608,11.01%,numeric
merchant_id_nunique,110015,6.66368,6.60652,0,2,5,9,103,110015,79,13608,11.01%,numeric
state_id_nunique,110015,1.58358,0.873022,1,1,1,2,15,110015,14,13608,11.01%,numeric
purchase_Month_nunique,110015,1.65595,0.475061,1,1,2,2,2,110015,2,13608,11.01%,bool
subsector_id_nunique,110015,4.4494,3.05787,1,2,4,6,23,110015,23,13608,11.01%,numeric
authorized_flag_mean,110015,1,0,1,1,1,1,1,110015,1,13608,11.01%,constant
authorized_flag_sum,110015,6.75677,6.65022,1,2,5,9,104,110015,80,13608,11.01%,numeric
purchase_amount_sum,110015,-3.70933,4.50389,-60.7804,-5.21013,-2.66773,-1.2066,263.157,110015,94244,13608,11.01%,numeric
purchase_amount_max,110015,-0.122972,1.76015,-0.746893,-0.647883,-0.511593,-0.17593,263.157,110015,32279,13608,11.01%,numeric
purchase_amount_min,110015,-0.656742,0.912294,-0.746893,-0.735638,-0.723617,-0.69161,263.157,110015,12517,13608,11.01%,numeric
...,...,...,...,...,...,...,...,...,...,...,...,...,...
subsector_id_nunique_old,123623,11.4836,5.19046,1,8,11,15,34,123623,34,0,0%,numeric
authorized_flag_mean_old,123623,0.893012,0.114518,0.05,0.851852,0.926531,0.972603,1,123623,9131,0,0%,numeric
authorized_flag_sum_old,123623,81.9209,100.695,2,23,48,100,4122,123623,905,0,0%,numeric
purchase_amount_sum_old,123623,-14.9897,1374.62,-3595.35,-65.6471,-30.1911,-12.4926,137956,123623,123490,0,0%,numeric
purchase_amount_max_old,123623,36.6086,1348.63,-0.743918,-0.344949,0.13297,1.29638,135766,123623,51993,0,0%,numeric
purchase_amount_min_old,123623,-0.730221,0.0570227,-0.746908,-0.743902,-0.740446,-0.731881,4.6398,123623,6126,0,0%,numeric
purchase_amount_mean_old,123623,-0.0728507,27.4661,-0.745643,-0.678985,-0.620652,-0.498502,5426,123623,123486,0,0%,numeric
purchase_amount_std_old,123623,3.83792,157.59,0,0.0769657,0.16158,0.365731,23023.1,123623,123440,0,0%,numeric
purchase_amount_var_old,123623,24849.3,2.42659e+06,0,0.00592372,0.026108,0.133759,5.30061e+08,123623,123441,0,0%,numeric
installments_sum_old,123623,58.2215,105.198,-16,1,16,76,6331,123623,959,0,0%,numeric
installments_max_old,123623,4.34066,24.6767,0,1,2,6,999,123623,14,0,0%,numeric
installments_min_old,123623,0.053744,0.723538,-1,0,0,1,10,123623,9,0,0%,numeric
installments_mean_old,123623,0.870227,1.38865,-0.5,0.00190476,1,1.34328,200.8,123623,16374,0,0%,numeric
installments_std_old,123623,0.81387,3.77682,0,0,0.288675,1.149,446.208,123623,57532,0,0%,numeric
installments_var_old,123623,14.9266,941.02,0,0,0.0833333,1.3202,199101,123623,61549,0,0%,numeric
month_lag_sum_old,123623,-403.119,622.098,-22477,-473,-179,-66,-1,123623,3857,0,0%,numeric
month_lag_max_old,123623,-0.161831,0.624408,-11,0,0,0,0,123623,12,0,0%,numeric
month_lag_min_old,123623,-7.88781,3.84051,-13,-12,-8,-4,-1,123623,13,0,0%,numeric
month_lag_mean_old,123623,-3.84519,2.12383,-12.4615,-5.52613,-3.57325,-2.03226,-0.0227273,123623,40359,0,0%,numeric
month_lag_std_old,123623,2.41353,1.17363,0.129099,1.38034,2.27787,3.44938,6.94742,123623,103125,0,0%,numeric
month_lag_var_old,123623,7.20253,6.13835,0.0166667,1.90533,5.18869,11.8982,48.2667,123623,106727,0,0%,numeric
purchase_date_amin_old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,119481,0,0%,date
purchase_date_amax_old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123623,117307,0,0%,date
purchase_date_ptp_old,123623,244.094,118.189,4,138,233,361,423,123623,420,0,0%,numeric
card_id_size_old,123623,89.6464,106.37,2,27,55,111,5582,123623,943,0,0%,numeric
purchased_on_weekend_sum_old,123623,25.0781,32.2717,0,6,14,31,1304,123623,359,0,0%,numeric
purchased_on_weekend_mean_old,123623,0.276485,0.139082,0,0.185484,0.269231,0.356026,1,123623,12170,0,0%,numeric
month_diff_mean_old,123623,11.6402,2.3768,10,10.4444,10.5714,11.5491,23,123623,25231,0,0%,numeric
inverse_avg_transactions_per_day_old,123623,6.04884,6.77195,0.051057,2,3.77083,7.39286,129.5,123623,36933,0,0%,numeric
days_since_last_transaction_old,123623,360.095,74.0403,314,316,325,372,707,123623,390,0,0%,numeric

In [75]:
train_df2.to_feather('train_df2')
test_df2.to_feather('test_df2')

In [76]:
train_df2.columns.values

array(['first_active_month', 'card_id', 'feature_1', 'feature_2', 'feature_3', 'target',
       'first_active_monthYear', 'first_active_monthMonth', 'first_active_monthWeek',
       'first_active_monthDay', 'first_active_monthDayofweek', 'first_active_monthDayofyear',
       'first_active_monthIs_month_end', 'first_active_monthIs_month_start',
       'first_active_monthIs_quarter_end', 'first_active_monthIs_quarter_start',
       'first_active_monthIs_year_end', 'first_active_monthIs_year_start', 'first_active_monthElapsed',
       'transactions_count', 'city_id_nunique', 'merchant_category_id_nunique', 'merchant_id_nunique',
       'state_id_nunique', 'purchase_Month_nunique', 'subsector_id_nunique', 'authorized_flag_mean',
       'authorized_flag_sum', 'purchase_amount_sum', 'purchase_amount_max', 'purchase_amount_min',
       'purchase_amount_mean', 'purchase_amount_std', 'purchase_amount_var', 'installments_sum',
       'installments_max', 'installments_min', 'installments_mean', 'installments_std', 'installments_var',
       'month_lag_sum', 'month_lag_max', 'month_lag_min', 'month_lag_mean', 'month_lag_std', 'month_lag_var',
       'purchase_date_amin', 'purchase_date_amax', 'purchase_date_ptp', 'card_id_size',
       'purchased_on_weekend_sum', 'purchased_on_weekend_mean', 'month_diff_mean', 'category_1_sum',
       'category_1_mean', 'inverse_avg_transactions_per_day', 'days_since_last_transaction',
       'transactions_count_old', 'city_id_nunique_old', 'merchant_category_id_nunique_old',
       'merchant_id_nunique_old', 'state_id_nunique_old', 'purchase_Month_nunique_old',
       'subsector_id_nunique_old', 'authorized_flag_mean_old', 'authorized_flag_sum_old',
       'purchase_amount_sum_old', 'purchase_amount_max_old', 'purchase_amount_min_old',
       'purchase_amount_mean_old', 'purchase_amount_std_old', 'purchase_amount_var_old',
       'installments_sum_old', 'installments_max_old', 'installments_min_old', 'installments_mean_old',
       'installments_std_old', 'installments_var_old', 'month_lag_sum_old', 'month_lag_max_old',
       'month_lag_min_old', 'month_lag_mean_old', 'month_lag_std_old', 'month_lag_var_old',
       'purchase_date_amin_old', 'purchase_date_amax_old', 'purchase_date_ptp_old', 'card_id_size_old',
       'purchased_on_weekend_sum_old', 'purchased_on_weekend_mean_old', 'month_diff_mean_old',
       'category_1_sum_old', 'category_1_mean_old', 'inverse_avg_transactions_per_day_old',
       'days_since_last_transaction_old'], dtype=object)

In [77]:
for df in [train_df2, test_df2]:
    df['elapsed_time'] = (datetime.datetime.today() - df['first_active_month']).dt.days
    df['card_id_total'] = df['card_id_size']+df['card_id_size_old']
    df['purchase_amount_total'] = df['purchase_amount_sum']+df['purchase_amount_sum_old']
    df['installments_total'] = df['installments_sum'] + df['installments_sum_old']
    df['hist_first_buy'] = (df['purchase_date_amin_old'] - df['first_active_month']).dt.days
    df['new_first_buy'] = (df['purchase_date_amin'] - df['first_active_month']).dt.days

In [78]:
train_df2.shape

(201917, 101)

In [79]:
train_df2.to_feather('train_df2')
test_df2.to_feather('test_df2')

### Remove outliers

In [80]:
train_df2['outliers'] = 0

In [81]:
train_df2.loc[train_df2['target'] < -30, 'outliers'] = 1
train_df2['outliers'].value_counts()

0    199710
1      2207
Name: outliers, dtype: int64

### Target encoding for outliers

In [82]:
train_df2.groupby(['feature_1'])['outliers'].mean()

feature_1
1    0.008058
2    0.010610
3    0.010479
4    0.010712
5    0.013145
Name: outliers, dtype: float64

In [83]:
for f in ['feature_1','feature_2','feature_3']:
    order_label = train_df2.groupby([f])['outliers'].mean()
    train_df2[f] = train_df2[f].map(order_label)
    test_df2[f] = test_df2[f].map(order_label)

In [84]:
train_df2.to_feather('train_df2')
test_df2.to_feather('test_df2')