<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-dependencies" data-toc-modified-id="Load-dependencies-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load dependencies</a></span></li><li><span><a href="#Read-csv-files-to-DFs" data-toc-modified-id="Read-csv-files-to-DFs-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read csv files to DFs</a></span></li><li><span><a href="#Add-date-part" data-toc-modified-id="Add-date-part-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Add date part</a></span></li><li><span><a href="#Train-cats-for-the-DFs" data-toc-modified-id="Train-cats-for-the-DFs-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Train cats for the DFs</a></span></li><li><span><a href="#Add-extra-columns-(purchased-on-weekend,-monthend,-month_diff-etc." data-toc-modified-id="Add-extra-columns-(purchased-on-weekend,-monthend,-month_diff-etc.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Add extra columns (purchased on weekend, monthend, month_diff etc.</a></span></li><li><span><a href="#proc_df-to-fill-nas,-one-hot-encode-cats" data-toc-modified-id="proc_df-to-fill-nas,-one-hot-encode-cats-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>proc_df to fill nas, one hot encode cats</a></span></li><li><span><a href="#Mark-as-categorical-variables-(not-required)" data-toc-modified-id="Mark-as-categorical-variables-(not-required)-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Mark as categorical variables (not required)</a></span></li><li><span><a href="#One-hot-encoding-categories-(not-required)" data-toc-modified-id="One-hot-encoding-categories-(not-required)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>One hot encoding categories (not required)</a></span></li><li><span><a href="#Aggregate-by-card_id" data-toc-modified-id="Aggregate-by-card_id-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Aggregate by card_id</a></span></li><li><span><a href="#Add-exta-interpreted-columns-on-aggregates" data-toc-modified-id="Add-exta-interpreted-columns-on-aggregates-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Add exta interpreted columns on aggregates</a></span></li><li><span><a href="#Load-test-&amp;-train-DFs" data-toc-modified-id="Load-test-&amp;-train-DFs-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Load test &amp; train DFs</a></span></li><li><span><a href="#Add-date-part-to-test-&amp;-train-dfs" data-toc-modified-id="Add-date-part-to-test-&amp;-train-dfs-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Add date part to test &amp; train dfs</a></span></li><li><span><a href="#Merge-train-&amp;-test-with-new-&amp;-old-transactions-history" data-toc-modified-id="Merge-train-&amp;-test-with-new-&amp;-old-transactions-history-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Merge train &amp; test with new &amp; old transactions history</a></span></li><li><span><a href="#Add-extra-columns-like-age,-total-transactions,-installments,-purchase-amount,-first-buy-etc" data-toc-modified-id="Add-extra-columns-like-age,-total-transactions,-installments,-purchase-amount,-first-buy-etc-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Add extra columns like age, total transactions, installments, purchase amount, first buy etc</a></span></li><li><span><a href="#Mark-the-outliers" data-toc-modified-id="Mark-the-outliers-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Mark the outliers</a></span></li><li><span><a href="#Target-encode-the-outliers" data-toc-modified-id="Target-encode-the-outliers-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Target encode the outliers</a></span></li></ul></div>

1. Load dependencies
2. Read csv files to dataframes
3. Fill missing values
4. Add date part 
5. Add extra columns (purchased on weekend, monthend, month_diff etc.
6. Aggregate by card_id
7. Aggregate by categories
8. Mark categorical columns
9. Add exta interpreted columns on aggregates
10. Load test & train csvs to dfs
11. Add date part to test & train dfs
12. Merge train & test with new & old transactions history
13. Add extra columns like age, total transactions, installments, purchase amount, first buy etc
14. Mark the outliers
15. Target encode the outliers 
16. Save to feather

### Load dependencies

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 4
%autosave 120

Autosaving every 120 seconds

In [2]:
from fastai.io import *
from fastai.structured import *
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from pandas_summary import DataFrameSummary
from IPython.display import display
from sklearn import metrics
import feather

### Read csv files to DFs

In [3]:
PATH = '../data/elo/'

In [4]:
files = ['historical_transactions', 'new_merchant_transactions']

In [5]:
hist_trans, new_hist_trans = [pd.read_csv(f'{PATH}{c}.csv') for c in files]

### Add date part

In [6]:
add_datepart(hist_trans, 'purchase_date', drop=False)
add_datepart(new_hist_trans, 'purchase_date', drop=False)

### Train cats for the DFs

In [7]:
train_cats(hist_trans)
train_cats(new_hist_trans)

### Add extra columns (purchased on weekend, monthend, month_diff etc.

In [8]:
dfs = [hist_trans, new_hist_trans]

In [9]:
def add_extra_cols(df):
    df['purchased_on_weekend'] = (df.purchase_Dayofweek >=5).astype(int)
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']
    return df

In [10]:
hist_trans, new_hist_trans = [add_extra_cols(df) for df in dfs]

In [11]:
hist_trans.shape, new_hist_trans.shape

((29112361, 29), (1963031, 29))

### proc_df to fill nas, one hot encode cats

In [12]:
%time hist_trans_proc, y_hist, nas = proc_df(hist_trans, max_n_cat=7,ignore_flds=['purchase_date','card_id', 'merchant_id'])

CPU times: user 48.6 s, sys: 9.59 s, total: 58.2 s
Wall time: 12.8 s

In [13]:
%time new_trans_proc, y_new, nas_new = proc_df(new_hist_trans, max_n_cat=7,ignore_flds=['purchase_date','card_id', 'merchant_id'])

CPU times: user 3.82 s, sys: 0 ns, total: 3.82 s
Wall time: 697 ms

In [14]:
hist_trans_proc.shape, new_trans_proc.shape

((29112361, 37), (1963031, 36))

In [15]:
hist_trans_proc.columns.values, new_trans_proc.columns.values

(array(['purchase_date', 'card_id', 'merchant_id', 'city_id', 'installments', 'merchant_category_id',
        'month_lag', 'purchase_amount', 'category_2', 'state_id', 'subsector_id', 'purchase_Year',
        'purchase_Month', 'purchase_Week', 'purchase_Day', 'purchase_Dayofweek', 'purchase_Dayofyear',
        'purchase_Is_month_end', 'purchase_Is_month_start', 'purchase_Is_quarter_end',
        'purchase_Is_quarter_start', 'purchase_Is_year_end', 'purchase_Is_year_start', 'purchase_Elapsed',
        'purchased_on_weekend', 'month_diff', 'category_2_na', 'authorized_flag_N', 'authorized_flag_Y',
        'authorized_flag_nan', 'category_1_N', 'category_1_Y', 'category_1_nan', 'category_3_A',
        'category_3_B', 'category_3_C', 'category_3_nan'], dtype=object),
 array(['purchase_date', 'card_id', 'merchant_id', 'city_id', 'installments', 'merchant_category_id',
        'month_lag', 'purchase_amount', 'category_2', 'state_id', 'subsector_id', 'purchase_Year',
        'purchase_Month', 'purchase_Week', 'purchase_Day', 'purchase_Dayofweek', 'purchase_Dayofyear',
        'purchase_Is_month_end', 'purchase_Is_month_start', 'purchase_Is_quarter_end',
        'purchase_Is_quarter_start', 'purchase_Is_year_end', 'purchase_Is_year_start', 'purchase_Elapsed',
        'purchased_on_weekend', 'month_diff', 'category_2_na', 'authorized_flag_Y', 'authorized_flag_nan',
        'category_1_N', 'category_1_Y', 'category_1_nan', 'category_3_A', 'category_3_B', 'category_3_C',
        'category_3_nan'], dtype=object))

In [16]:
import gc

In [17]:
gc.collect()

77

### Mark as categorical variables (not required)

In [72]:
def mark_categorical_cols_for_transactions(df):
    categorical_cols = ['authorized_flag', 'card_id', 'city_id',
       'merchant_category_id', 'merchant_id',
       'state_id', 'subsector_id', 'purchase_Year', 'purchase_Month']
    for c in categorical_cols:
        df[c] = df[c].astype('category').cat.as_ordered()
    for col in ['authorized_flag', 'category_1']:
        df[col] = df[col].map({'Y':1, 'N':0})
    return df

In [73]:
hist_trans_c, new_hist_trans_c = [mark_categorical_cols_for_transactions(df) for df in dfs]

In [74]:
hist_trans.shape, new_hist_trans.shape

((29112361, 29), (1963031, 29))

In [75]:
hist_trans.to_feather('hist_trans')
new_hist_trans.to_feather('new_hist_trans')

In [76]:
hist_trans = feather.read_dataframe('hist_trans')

In [77]:
new_hist_trans = feather.read_dataframe('new_hist_trans')

### One hot encoding categories (not required)

In [19]:
DataFrameSummary(new_hist_trans_c).summary()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,purchase_Dayofyear,purchase_Is_month_end,purchase_Is_month_start,purchase_Is_quarter_end,purchase_Is_quarter_start,purchase_Is_year_end,purchase_Is_year_start,purchase_Elapsed,purchased_on_weekend,month_diff
count,1.96303e+06,NaN,NaN,1.96303e+06,1.96303e+06,NaN,NaN,NaN,1.96303e+06,1.96303e+06,...,1.96303e+06,NaN,NaN,NaN,NaN,NaN,NaN,1.96303e+06,1.96303e+06,1.96303e+06
mean,1,NaN,NaN,0.0321421,0.682964,NaN,NaN,NaN,1.47652,-0.550969,...,109.884,NaN,NaN,NaN,NaN,NaN,NaN,1.51935e+09,0.307438,11.772
std,0,NaN,NaN,0.176378,1.58407,NaN,NaN,NaN,0.499448,0.694004,...,75.1097,NaN,NaN,NaN,NaN,NaN,NaN,6.6753e+06,0.461433,2.55921
min,1,NaN,NaN,0,-1,NaN,NaN,NaN,1,-0.746893,...,1,NaN,NaN,NaN,NaN,NaN,NaN,1.48834e+09,0,10
25%,1,NaN,NaN,0,0,NaN,NaN,NaN,1,-0.716629,...,71,NaN,NaN,NaN,NaN,NaN,NaN,1.51967e+09,0,10
50%,1,NaN,NaN,0,1,NaN,NaN,NaN,1,-0.674841,...,90,NaN,NaN,NaN,NaN,NaN,NaN,1.52146e+09,0,11
75%,1,NaN,NaN,0,1,NaN,NaN,NaN,2,-0.581616,...,112,NaN,NaN,NaN,NaN,NaN,NaN,1.52322e+09,1,12
max,1,NaN,NaN,1,999,NaN,NaN,NaN,2,263.157,...,365,NaN,NaN,NaN,NaN,NaN,NaN,1.52513e+09,1,23
counts,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031,...,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031
uniques,1,290001,308,2,15,3,314,226129,2,75190,...,365,2,2,2,2,2,2,1667025,2,14
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,constant,categorical,categorical,bool,numeric,categorical,categorical,categorical,bool,numeric,...,numeric,bool,bool,bool,bool,bool,bool,numeric,bool,numeric

In [20]:
def one_hot_encode_dfs(df):
    return pd.get_dummies(df, columns=['category_2', 'category_3'])

In [21]:
hist_trans_c.shape, new_hist_trans_c.shape

((29112361, 29), (1963031, 29))

In [22]:
hist_trans_c_e, new_hist_trans_c_e = [one_hot_encode_dfs(df) for df in dfs]

In [23]:
hist_trans_c_e.shape, new_hist_trans_c_e.shape

((29112361, 35), (1963031, 35))

In [24]:
new_hist_trans_c_e.columns

Index(['authorized_flag', 'card_id', 'city_id', 'category_1', 'installments',
       'merchant_category_id', 'merchant_id', 'month_lag', 'purchase_amount',
       'purchase_date', 'state_id', 'subsector_id', 'purchase_Year',
       'purchase_Month', 'purchase_Week', 'purchase_Day', 'purchase_Dayofweek',
       'purchase_Dayofyear', 'purchase_Is_month_end',
       'purchase_Is_month_start', 'purchase_Is_quarter_end',
       'purchase_Is_quarter_start', 'purchase_Is_year_end',
       'purchase_Is_year_start', 'purchase_Elapsed', 'purchased_on_weekend',
       'month_diff', 'category_2_1.0', 'category_2_2.0', 'category_2_3.0',
       'category_2_4.0', 'category_2_5.0', 'category_3_A', 'category_3_B',
       'category_3_C'],
      dtype='object')

In [25]:
## Not working
def aggregate_by_category(df):
    features = ['category_2_1.0', 'category_2_2.0', 'category_2_3.0',
       'category_2_4.0', 'category_2_5.0', 'category_3_A', 'category_3_B',
       'category_3_C']
    cat_agg = {"purchase_amount": ["sum", "mean"], "installments": ["sum", "mean"]}
    other_df = pd.DataFrame()
    for fe in features:
        g = df.groupby(['card_id', fe]).agg(cat_agg)
        g.columns = ['_'+fe+'_'.join(c).strip() for c in g.columns.values]
        g.reset_index(inplace=True)
        if other_df.empty:
            other_df = g
        else:
            other_df = pd.merge(other_df, g, on='card_id', how='left')
    return other_df

### Aggregate by card_id

In [18]:
new_trans_proc['authorized_flag_N'] = 0

In [19]:
new_trans_proc.shape, hist_trans_proc.shape

((1963031, 37), (29112361, 37))

In [20]:
# DataFrameSummary(new_trans_proc).summary().T

In [21]:
# new_trans_proc.head().T

In [22]:
def aggregate_by_card_id(df):
    unique_cols = ['city_id', 'merchant_category_id', 'merchant_id', 'state_id', 
                   'subsector_id']
    aggs = {}
    for c in unique_cols:
        aggs[c] = ['nunique'] 
    aggs['authorized_flag_Y'] = ['mean', 'sum']
    aggs['authorized_flag_N'] = ['mean', 'sum']
    aggs['purchase_amount'] = ['sum', 'max', 'min', 'mean', 'std', 'median']
    aggs['installments'] = ['sum', 'max', 'mean', 'std', 'median']
    aggs['month_lag'] = ['sum', 'max', 'min', 'mean', 'std', 'median']
    aggs['purchase_date'] = [np.min, np.max, np.ptp]
    aggs['card_id'] = ['size']
    aggs['purchased_on_weekend'] = ['sum', 'mean']
    aggs['month_diff'] = ['mean', 'std', 'var']
    aggs['category_1_N'] = ['sum', 'mean']
    aggs['category_1_Y'] = ['sum', 'mean']
    aggs['category_2'] = ['mean', 'sum']
    aggs['category_2_na'] = ['mean', 'sum']
    aggs['category_3_A'] = ['mean', 'sum']
    aggs['category_3_B' ] = ['mean', 'sum']
    aggs['category_3_C' ] = ['mean', 'sum']
    
    for col in ['category_2','category_2_na','category_3_nan', 'category_3_A', 'category_3_B', 'category_3_C']:
        df[col+'_mean2'] = df.groupby([col])['purchase_amount'].transform('mean')
        aggs[col+'_mean2'] = ['mean']    

    new_df = df.groupby(['card_id']).agg(aggs)
    new_df.columns = ['_'.join(col).strip() for col in new_df.columns.values]
    new_df.reset_index(inplace=True)
    other_df = (df.groupby('card_id')
          .size()
          .reset_index(name='transactions_count'))
    
    new_df = pd.merge(other_df, new_df, on='card_id', how='left')
    new_df["purchase_date_ptp"] = new_df["purchase_date_ptp"].dt.days    
    return new_df

In [23]:
dfs_e = [hist_trans_proc, new_trans_proc]

In [24]:
%time hist_trans_agg, new_hist_trans_agg = [aggregate_by_card_id(df) for df in dfs_e]

CPU times: user 2min 56s, sys: 12.2 s, total: 3min 8s
Wall time: 1min 54s

### Add exta interpreted columns on aggregates

In [25]:
def add_extra_cols_on_agg(df):
    df['inverse_avg_transactions_per_day'] = df['purchase_date_ptp']/df['card_id_size']
    df['days_since_last_transaction'] = (datetime.datetime.today() - df['purchase_date_amax']).dt.days
    return df

In [26]:
[hist_trans_agg, new_hist_trans_agg] = [add_extra_cols_on_agg(df) for df in [hist_trans_agg, 
                                                                             new_hist_trans_agg]]

In [27]:
hist_trans_agg.to_feather('hist_trans_agg_proc')
new_hist_trans_agg.to_feather('new_trans_agg_proc')

In [28]:
hist_trans_agg_proc = feather.read_dataframe('hist_trans_agg_proc')
new_trans_agg_proc = feather.read_dataframe('new_trans_agg_proc')

In [29]:
hist_trans_agg_proc.shape, new_trans_agg_proc.shape

((325540, 59), (290001, 59))

### Load test & train DFs

In [30]:
PATH = 'data/elo/'

In [31]:
train, test = [pd.read_csv(f'{PATH}{c}') for c in ['train.csv', 'test.csv']]

### Add date part to test & train dfs

In [32]:
add_datepart(train, 'first_active_month', drop=False)
add_datepart(test, 'first_active_month', drop=False)

### Merge train & test with new & old transactions history

In [33]:
def join_dfs(left, right, left_on, right_on=None, suffix='_old'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, suffixes=("", suffix))

In [34]:
hist_trans_agg.head().T

,0,1,2,3,4
card_id,C_ID_00007093c1,C_ID_0001238066,C_ID_0001506ef0,C_ID_0001793786,C_ID_000183fdda
transactions_count,149,123,66,216,144
city_id_nunique,4,18,3,10,9
merchant_category_id_nunique,18,29,19,48,36
merchant_id_nunique,29,65,28,119,73
state_id_nunique,3,6,2,4,7
subsector_id_nunique,13,17,12,24,21
authorized_flag_Y_mean,0.765101,0.97561,0.939394,0.875,0.951389
authorized_flag_Y_sum,114,120,62,189,137
authorized_flag_N_mean,0.234899,0.0243902,0.0606061,0.125,0.0486111
authorized_flag_N_sum,35,3,4,27,7
purchase_amount_sum,-76.845,-72.4472,-34.6019,-36.786,-68.8379
purchase_amount_max,1.50707,0.768095,1.49355,4.55415,2.76479
purchase_amount_min,-0.728876,-0.734887,-0.740491,-0.745405,-0.737892
purchase_amount_mean,-0.515739,-0.589002,-0.524271,-0.170306,-0.478041
purchase_amount_std,0.298141,0.190235,0.472284,0.836046,0.524948
purchase_amount_median,-0.587627,-0.648184,-0.703707,-0.487911,-0.661294
installments_sum,192,198,1,5,264
installments_max,6,10,1,1,10
installments_mean,1.28859,1.60976,0.0151515,0.0231481,1.83333
installments_std,0.7649,1.48564,0.123091,0.150723,2.11885
installments_median,1,1,0,0,1
month_lag_sum,-872,-223,-319,-719,-353
month_lag_max,0,0,0,0,0
month_lag_min,-12,-5,-13,-9,-6
month_lag_mean,-5.85235,-1.81301,-4.83333,-3.3287,-2.45139
month_lag_std,3.45311,1.28898,4.2375,2.30637,1.89526
month_lag_median,-6,-2,-3,-3,-2
purchase_date_amin,2017-02-14 14:00:43,2017-09-28 22:25:14,2017-01-14 16:16:01,2017-01-21 10:15:21,2017-08-07 09:49:14
purchase_date_amax,2018-02-27 05:14:57,2018-02-27 16:18:59,2018-02-17 12:33:56,2017-10-31 20:20:18,2018-02-25 20:57:08
purchase_date_ptp,377,151,398,283,202
card_id_size,149,123,66,216,144
purchased_on_weekend_sum,25,52,32,37,33
purchased_on_weekend_mean,0.167785,0.422764,0.484848,0.171296,0.229167
month_diff_mean,10.8121,10.5528,10.8788,14.7778,10.7292
month_diff_std,0.391965,0.499233,0.328875,0.416705,0.445941
month_diff_var,0.153637,0.249234,0.108159,0.173643,0.198864
category_1_N_sum,121,121,66,214,140
category_1_N_mean,0.812081,0.98374,1,0.990741,0.972222
category_1_Y_sum,28,2,0,2,4
category_1_Y_mean,0.187919,0.0162602,0,0.00925926,0.0277778
category_2_mean,2.63758,1.65041,2.93939,1.49074,2.85417
category_2_sum,393,203,194,322,411
category_2_na_mean,0.187919,0.0650407,0,0.527778,0.0277778
category_2_na_sum,28,8,0,114,4
category_3_A_mean,0,0,0.984848,0.976852,0
category_3_A_sum,0,0,65,211,0
category_3_B_mean,0.838926,0.715447,0.0151515,0.0231481,0.715278
category_3_B_sum,125,88,1,5,103
category_3_C_mean,0.161074,0.260163,0,0,0.256944
category_3_C_sum,24,32,0,0,37
category_2_mean2_mean,0.15858,0.0454582,0.177169,-0.00261963,0.167912
category_2_na_mean2_mean,-0.00523215,0.0476203,0.0755954,-0.151411,0.0636477
category_3_nan_mean2_mean,0.0362652,0.0368062,0.0362652,0.0362652,0.0368813
category_3_A_mean2_mean,-0.329781,-0.329781,0.351446,0.345914,-0.329781
category_3_B_mean2_mean,-0.285957,-0.195039,0.320589,0.314702,-0.194915
category_3_C_mean2_mean,0.0436633,0.0510288,0.0316902,0.0316902,0.0507896
inverse_avg_transactions_per_day,2.5302,1.22764,6.0303,1.31019,1.40278
days_since_last_transaction,321,321,331,439,322

In [35]:
new_trans_agg_proc.head().T

,0,1,2,3,4
card_id,C_ID_00007093c1,C_ID_0001238066,C_ID_0001506ef0,C_ID_0001793786,C_ID_000183fdda
transactions_count,2,26,2,31,11
city_id_nunique,2,8,1,7,2
merchant_category_id_nunique,2,15,2,21,9
merchant_id_nunique,2,25,1,31,11
state_id_nunique,2,4,1,5,2
subsector_id_nunique,2,9,2,14,6
authorized_flag_Y_mean,1,1,1,1,1
authorized_flag_Y_sum,2,26,2,31,11
authorized_flag_N_mean,0,0,0,0,0
authorized_flag_N_sum,0,0,0,0,0
purchase_amount_sum,-1.32852,-14.8501,-1.44735,-0.22962,-6.59078
purchase_amount_max,-0.656749,-0.0783182,-0.715352,3.12993,-0.10768
purchase_amount_min,-0.671775,-0.740897,-0.732001,-0.737892,-0.732332
purchase_amount_mean,-0.664262,-0.571156,-0.723677,-0.0074071,-0.599162
purchase_amount_std,0.0106254,0.173436,0.0117729,0.947223,0.182877
purchase_amount_median,-0.664262,-0.649235,-0.723677,-0.372748,-0.665765
installments_sum,2,42,0,0,16
installments_max,1,10,0,0,4
installments_mean,1,1.61538,0,0,1.45455
installments_std,0,2.07994,0,0,1.29334
installments_median,1,1,0,0,1
month_lag_sum,4,35,2,41,14
month_lag_max,2,2,1,2,2
month_lag_min,2,1,1,1,1
month_lag_mean,2,1.34615,1,1.32258,1.27273
month_lag_std,0,0.485165,0,0.475191,0.467099
month_lag_median,2,1,1,1,1
purchase_date_amin,2018-04-03 11:13:35,2018-03-01 16:48:27,2018-03-16 22:21:58,2017-11-15 15:44:20,2018-03-02 12:26:26
purchase_date_amax,2018-04-09 16:23:59,2018-04-30 19:57:30,2018-03-22 09:14:30,2017-12-31 17:35:56,2018-04-30 14:59:53
purchase_date_ptp,6,60,5,46,59
card_id_size,2,26,2,31,11
purchased_on_weekend_sum,0,12,0,14,2
purchased_on_weekend_mean,0,0.461538,0,0.451613,0.181818
month_diff_mean,11,10.5,10.5,14.2903,10.7273
month_diff_std,0,0.509902,0.707107,0.461414,0.467099
month_diff_var,0,0.26,0.5,0.212903,0.218182
category_1_N_sum,2,24,2,31,11
category_1_N_mean,1,0.923077,1,1,1
category_1_Y_sum,0,2,0,0,0
category_1_Y_mean,0,0.0769231,0,0,0
category_2_mean,2,1.46154,3,1.70968,3
category_2_sum,4,38,6,53,33
category_2_na_mean,0,0.115385,0,0.0645161,0
category_2_na_sum,0,3,0,2,0
category_3_A_mean,0,0,1,1,0
category_3_A_sum,0,0,2,31,0
category_3_B_mean,1,0.807692,0,0,0.545455
category_3_B_sum,2,21,0,0,6
category_3_C_mean,0,0.153846,0,0,0.363636
category_3_C_sum,0,4,0,0,4
category_2_mean2_mean,-0.550506,-0.550028,-0.550852,-0.551649,-0.550852
category_2_na_mean2_mean,-0.561925,-0.539717,-0.561925,-0.549508,-0.561925
category_3_nan_mean2_mean,-0.568123,-0.544963,-0.568123,-0.568123,-0.513382
category_3_A_mean2_mean,-0.480041,-0.480041,-0.631014,-0.631014,-0.480041
category_3_B_mean2_mean,-0.606486,-0.587887,-0.509773,-0.509773,-0.562525
category_3_C_mean2_mean,-0.599212,-0.501224,-0.599212,-0.599212,-0.367604
inverse_avg_transactions_per_day,3,2.30769,2.5,1.48387,5.36364
days_since_last_transaction,280,258,298,379,259

In [36]:
train_df = join_dfs(train, new_trans_agg_proc, left_on='card_id')

In [37]:
train_df = join_dfs(train_df, hist_trans_agg, left_on='card_id', suffix='_old')

In [38]:
test_df = join_dfs(test, new_hist_trans_agg, left_on='card_id')
test_df = join_dfs(test_df, hist_trans_agg, left_on='card_id', suffix='_old')

In [39]:
test_df.shape, train_df.shape

((123623, 134), (201917, 135))

In [40]:
train_df.head().T

,0,1,2,3,4
first_active_month,2017-06-01 00:00:00,2017-01-01 00:00:00,2016-08-01 00:00:00,2017-09-01 00:00:00,2017-11-01 00:00:00
card_id,C_ID_92a2005557,C_ID_3d0044924f,C_ID_d639edf6cd,C_ID_186d6a6901,C_ID_cdbd2c0db2
feature_1,5,4,2,4,1
feature_2,2,1,2,3,3
feature_3,1,0,0,0,0
target,-0.820283,0.392913,0.688056,0.142495,-0.159749
first_active_monthYear,2017,2017,2016,2017,2017
first_active_monthMonth,6,1,8,9,11
first_active_monthWeek,22,52,31,35,44
first_active_monthDay,1,1,1,1,1
first_active_monthDayofweek,3,6,0,4,2
first_active_monthDayofyear,152,1,214,244,305
first_active_monthIs_month_end,False,False,False,False,False
first_active_monthIs_month_start,True,True,True,True,True
first_active_monthIs_quarter_end,False,False,False,False,False
first_active_monthIs_quarter_start,False,True,False,False,False
first_active_monthIs_year_end,False,False,False,False,False
first_active_monthIs_year_start,False,True,False,False,False
first_active_monthElapsed,1496275200,1483228800,1470009600,1504224000,1509494400
transactions_count,23,6,1,7,36
city_id_nunique,3,1,1,2,5
merchant_category_id_nunique,14,5,1,6,17
merchant_id_nunique,23,6,1,7,36
state_id_nunique,1,1,1,2,5
subsector_id_nunique,10,4,1,5,10
authorized_flag_Y_mean,1,1,1,1,1
authorized_flag_Y_sum,23,6,1,7,36
authorized_flag_N_mean,0,0,0,0,0
authorized_flag_N_sum,0,0,0,0,0
purchase_amount_sum,-13.2442,-4.35573,-0.700326,-4.65437,-19.9262
...,...,...,...,...,...
purchase_date_amax_old,2018-02-25 09:31:15,2018-01-31 22:31:09,2018-02-27 19:08:25,2018-02-28 11:44:40,2018-02-28 20:40:41
purchase_date_ptp_old,242,390,412,154,108
card_id_size_old,260,350,43,77,133
purchased_on_weekend_sum_old,90,132,11,11,42
purchased_on_weekend_mean_old,0.346154,0.377143,0.255814,0.142857,0.315789
month_diff_mean_old,10.7231,11.6771,10.6279,10.6104,10.5714
month_diff_std_old,0.448341,0.468238,0.489083,0.49086,0.496743
month_diff_var_old,0.20101,0.219247,0.239203,0.240943,0.246753
category_1_N_sum_old,260,319,43,65,118
category_1_N_mean_old,1,0.911429,1,0.844156,0.887218
category_1_Y_sum_old,0,31,0,12,15
category_1_Y_mean_old,0,0.0885714,0,0.155844,0.112782
category_2_mean_old,1.04615,1,4.62791,3.06494,3.44361
category_2_sum_old,272,350,199,236,458
category_2_na_mean_old,0,0.0885714,0,0.155844,0.112782
category_2_na_sum_old,0,31,0,12,15
category_3_A_mean_old,0.984615,0,1,0,0
category_3_A_sum_old,256,0,43,0,0
category_3_B_mean_old,0.0153846,0.788571,0,0.883117,0.947368
category_3_B_sum_old,4,276,0,68,126
category_3_C_mean_old,0,0.205714,0,0.0909091,0.0526316
category_3_C_sum_old,0,72,0,7,7
category_2_mean2_mean_old,0.0725022,0.0745679,-0.0878033,-0.0861658,-0.114647
category_2_na_mean2_mean_old,0.0755954,0.0374992,0.0755954,0.00856402,0.0270859
category_3_nan_mean2_mean_old,0.0362652,0.0363919,0.0362652,0.0368413,0.0362652
category_3_A_mean2_mean_old,0.351284,-0.329781,0.361926,-0.329781,-0.329781
category_3_B_mean2_mean_old,0.320418,-0.248881,0.331746,-0.318495,-0.365803
category_3_C_mean2_mean_old,0.0316902,0.0469815,0.0316902,0.0384477,0.0356025
inverse_avg_transactions_per_day_old,0.930769,1.11429,9.5814,2,0.81203
days_since_last_transaction_old,323,347,320,320,319

### Add extra columns like age, total transactions, installments, purchase amount, first buy etc

In [43]:
display(train_df.columns.values)

array(['first_active_month', 'card_id', 'feature_1', 'feature_2', 'feature_3', 'target',
       'first_active_monthYear', 'first_active_monthMonth', 'first_active_monthWeek',
       'first_active_monthDay', 'first_active_monthDayofweek', 'first_active_monthDayofyear',
       'first_active_monthIs_month_end', 'first_active_monthIs_month_start',
       'first_active_monthIs_quarter_end', 'first_active_monthIs_quarter_start',
       'first_active_monthIs_year_end', 'first_active_monthIs_year_start', 'first_active_monthElapsed',
       'transactions_count', 'city_id_nunique', 'merchant_category_id_nunique', 'merchant_id_nunique',
       'state_id_nunique', 'subsector_id_nunique', 'authorized_flag_Y_mean', 'authorized_flag_Y_sum',
       'authorized_flag_N_mean', 'authorized_flag_N_sum', 'purchase_amount_sum', 'purchase_amount_max',
       'purchase_amount_min', 'purchase_amount_mean', 'purchase_amount_std', 'purchase_amount_median',
       'installments_sum', 'installments_max', 'installments_mean', 'installments_std',
       'installments_median', 'month_lag_sum', 'month_lag_max', 'month_lag_min', 'month_lag_mean',
       'month_lag_std', 'month_lag_median', 'purchase_date_amin', 'purchase_date_amax', 'purchase_date_ptp',
       'card_id_size', 'purchased_on_weekend_sum', 'purchased_on_weekend_mean', 'month_diff_mean',
       'month_diff_std', 'month_diff_var', 'category_1_N_sum', 'category_1_N_mean', 'category_1_Y_sum',
       'category_1_Y_mean', 'category_2_mean', 'category_2_sum', 'category_2_na_mean', 'category_2_na_sum',
       'category_3_A_mean', 'category_3_A_sum', 'category_3_B_mean', 'category_3_B_sum', 'category_3_C_mean',
       'category_3_C_sum', 'category_2_mean2_mean', 'category_2_na_mean2_mean', 'category_3_nan_mean2_mean',
       'category_3_A_mean2_mean', 'category_3_B_mean2_mean', 'category_3_C_mean2_mean',
       'inverse_avg_transactions_per_day', 'days_since_last_transaction', 'transactions_count_old',
       'city_id_nunique_old', 'merchant_category_id_nunique_old', 'merchant_id_nunique_old',
       'state_id_nunique_old', 'subsector_id_nunique_old', 'authorized_flag_Y_mean_old',
       'authorized_flag_Y_sum_old', 'authorized_flag_N_mean_old', 'authorized_flag_N_sum_old',
       'purchase_amount_sum_old', 'purchase_amount_max_old', 'purchase_amount_min_old',
       'purchase_amount_mean_old', 'purchase_amount_std_old', 'purchase_amount_median_old',
       'installments_sum_old', 'installments_max_old', 'installments_mean_old', 'installments_std_old',
       'installments_median_old', 'month_lag_sum_old', 'month_lag_max_old', 'month_lag_min_old',
       'month_lag_mean_old', 'month_lag_std_old', 'month_lag_median_old', 'purchase_date_amin_old',
       'purchase_date_amax_old', 'purchase_date_ptp_old', 'card_id_size_old', 'purchased_on_weekend_sum_old',
       'purchased_on_weekend_mean_old', 'month_diff_mean_old', 'month_diff_std_old', 'month_diff_var_old',
       'category_1_N_sum_old', 'category_1_N_mean_old', 'category_1_Y_sum_old', 'category_1_Y_mean_old',
       'category_2_mean_old', 'category_2_sum_old', 'category_2_na_mean_old', 'category_2_na_sum_old',
       'category_3_A_mean_old', 'category_3_A_sum_old', 'category_3_B_mean_old', 'category_3_B_sum_old',
       'category_3_C_mean_old', 'category_3_C_sum_old', 'category_2_mean2_mean_old',
       'category_2_na_mean2_mean_old', 'category_3_nan_mean2_mean_old', 'category_3_A_mean2_mean_old',
       'category_3_B_mean2_mean_old', 'category_3_C_mean2_mean_old', 'inverse_avg_transactions_per_day_old',
       'days_since_last_transaction_old'], dtype=object)

In [44]:
for df in [train_df, test_df]:
    df['elapsed_time'] = (datetime.datetime.today() - df['first_active_month']).dt.days
    df['card_id_total'] = df['card_id_size']+df['card_id_size_old']
    df["authorized_flag_Y_mean_total"]= df["authorized_flag_Y_mean_old"]+ df["authorized_flag_Y_mean"]
    df["authorized_flag_Y_sum_total"]= df["authorized_flag_Y_sum_old"]+ df["authorized_flag_Y_sum"]
    df["authorized_flag_N_mean_total"]= df["authorized_flag_N_mean_old"]+ df["authorized_flag_N_mean"]
    df["authorized_flag_N_sum_total"]= df["authorized_flag_N_sum_old"]+ df["authorized_flag_N_sum"]
    df["month_lag_sum_total"]= df["month_lag_sum_old"]+ df["month_lag_sum"]
    df['purchase_amount_total'] = df['purchase_amount_sum']+df['purchase_amount_sum_old']
    df['installments_total'] = df['installments_sum'] + df['installments_sum_old']
    df["category_1_Y_sum_total"] = df["category_1_Y_sum_old"]+ df["category_1_Y_sum"]
    df["category_2_sum_total"]= df["category_2_sum_old"]+ df["category_2_sum"]
    df["category_3_A_total"]= df["category_3_A_sum"]+ df["category_3_A_sum_old"]
    df["category_3_B_total"]= df["category_3_B_sum"]+ df["category_3_B_sum_old"]
    df["category_3_C_total"]= df["category_3_C_sum"]+ df["category_3_C_sum_old"]
    df['hist_first_buy'] = (df['purchase_date_amin_old'] - df['first_active_month']).dt.days
    df['new_first_buy'] = (df['purchase_date_amin'] - df['first_active_month']).dt.days

### Mark the outliers

In [45]:
train_df['outliers'] = 0
train_df.loc[train_df['target'] < -30, 'outliers'] = 1
train_df['outliers'].value_counts()

0    199710
1      2207
Name: outliers, dtype: int64

### Target encode the outliers

In [52]:
for f in ['feature_1','feature_2','feature_3']:
    order_label = train_df.groupby([f])['outliers'].mean()
    train_df[f] = train_df[f].map(order_label)
    test_df[f] = test_df[f].map(order_label)

In [53]:
train_df.to_feather('train_df_proc')
test_df.to_feather('test_df_proc')